*{
        background-color: azure;
}
h1{
        font-size: 100px;
        background: transparent;
        color: aqua;
        text-align: center;
        padding-top: 250px;
        font-family: Arial, Helvetica, sans-serif;
}
.div1{
        background-image: url("https://images.unsplash.com/photo-1509023464722-18d996393ca8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div2{
        background-image: url("https://images.unsplash.com/photo-1494122353634-c310f45a6d3c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div3{
        background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div4{
        background-image: url("https://images.unsplash.com/photo-1460355976672-71c3f0a4bdac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div5{
        background-image: url("https://images.unsplash.com/photo-1483356256511-b48749959172?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div6{
        background-image: url("https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div7{
        background-image: url("https://images.unsplash.com/photo-1445813792994-1d804a9453c9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1245&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        box-shadow: -2px 2px 4px black;
        background-size: cover;
}
.div8{
        background-image: url("https://images.unsplash.com/photo-1513436539083-9d2127e742f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1163&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div9{
        background-image: url("https://images.unsplash.com/photo-1541906048747-3152ddb5f0ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}
.div10{
        background-image: url("https://images.unsplash.com/photo-1495616811223-4d98c6e9c869?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
        width: 1350px;
        height: 550px;
        position: sticky;
        top:30px;
        margin-left: 15px;
        background-size: cover;
        box-shadow: -2px 2px 4px black;
}